<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
        <li>
            <a routerLink="Salir" routerLinkActive="active" class="nav-link">SALIR</a>
        </li>
        <li>
            <a routerLink="/Sistema/" routerLinkActive="active" class="nav-link">INICIO</a>
        </li>
        <li>
            <a routerLink="Sistema/empleados" routerLinkActive="active" class="nav-link">EMPLEADOS</a>

        <li>
            <a routerLink="Sistema/Reserva" routerLinkActive="active" class="nav-link">RESERVA</a>
        </li>

        <li>
            <a routerLink="Sistema" routerLinkActive="active" class="nav-link">EMBALJE</a>
        </li>
        <li>
            <a routerLink="Sistema" routerLinkActive="active" class="nav-link">FACTURACION</a>
        </li>
        <li>
            <a routerLink="Sistema" routerLinkActive="active" class="nav-link">AVION</a>
        </li>
        <li>
            <a routerLink="Sistema" routerLinkActive="active" class="nav-link">BOLETO</a>
        </li>
        <li>
            <a routerLink="Sistema" routerLinkActive="active" class="nav-link">PASAJERO</a>
        </li>
        <li>
            <a routerLink="Sistema" routerLinkActive="active" class="nav-link">VUELO</a>
        </li>
        <li>
            <a routerLink="Sistema" routerLinkActive="active" class="nav-link">ROLES</a>
        </li>



    </ul>
</nav>

<h1 class="text-center">SISTEMA TIKETS</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>